/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.nav{
	font-family: 'Poppins', sans-serif;
}

hr{
	border-color: #e74c3c;
	width: 75px;
	margin-top: 15px;
}

footer{
	color: #fff;
	background-color: #e74c3c;
	padding-top: 200px;
	padding-bottom: 25px;
}


#join-us{
	background-color: #f5f5f5;
}

.jumbotron {
	height: 100vh;
	text-align: center;
	background-image: url('../images/hall3b.jpg');
	font-family: 'Poppins', sans-serif;
}

.jumbotron .container{
	margin-top: 300px;
}

.jumbotron h1 {
	color: #fff;
	margin-top: 0px;
	margin-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;

}

.jumbotron p {
	font-weight: 100;
	color: #fff;
	margin-bottom: 30px;
}

.modal-content{
	top: 25vh;
}

.modal-content button.close{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 28px;
	background-color: white;
	width: 40px;
	opacity: 1;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
}

.modal-content iframe{
	margin-top: 10px;
	margin-bottom: 15px;
}

.btn-lg {
	font-size: 36px;
}

.homepage{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	padding-top: 25px;
	padding-bottom: 25px;
}

.homepage h2, .homepage h3{
	color: #e74c3c;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.homepage h2{
	font-size: 30px;
}

.homepage h3{
	font-size: 28px;
}

.homepage p{
	font-size: 21px;
}

.homepage a{
	color:#e74c3c;
}

.homepage a:hover{
	color:#e74c3c;
	text-decoration: none;
	opacity: .8;
}

.homepage hr{
	border-color: #e74c3c;
	width: 75px;
	margin-top: 15px;
}

/* Responsive Styling */

/* Standard 7" 1024x600 tablet (Kindle Fire) */

@media (device-width: 1024px) and (max-device-height: 600px) and (orientation: landscape) {
        
	.jumbotron{
		height: 100vh;
	}

	.jumbotron h1{
		font-size: 30px;
		margin-bottom: 25px;
		padding: 0;
	}

	.jumbotron p{
		font-size: 15px; 
		padding :0 3px;
	}

	.jumbotron .container{
		margin-top: 0px;
	}

	.modal-content iframe{
		margin-top: 10px;
		margin-bottom: 15px;
		width: 305px;
	}

	.btn-lg{
		font-size: 20px;
	}

}


@media (max-width: 1199px){

	.jumbotron{
	height: 100vh;
	}

	.jumbotron h1{
	font-size: 56px;
	margin-bottom: 25px;
	}

}

@media (max-width: 992px){

	.jumbotron{
	height: 100vh;
	}

	.jumbotron h1{
	font-size: 50px;
	margin-bottom: 25px;
	}

	.jumbotron p{
	font-size: 18px;  	
	}
	.btn-lg{
	font-size: 28px;
	}

}

@media (max-width: 766px){

	.jumbotron{
	height: 100vh;
	}

	.jumbotron h1{
	font-size: 30px;
	margin-bottom: 25px;
	}

	.jumbotron .container{
	margin-top: 55px;
	}

	.btn-lg{
	font-size: 20px;
	}

}

@media (max-width: 370px){
  
  .jumbotron{
  	height: 100vh;
  }

  .jumbotron h1{
  	font-size: 30px;
  	margin-bottom: 25px;
  	padding: 0;
  }

  .jumbotron p{
  	font-size: 15px; 
  	padding :0 3px;
  }

  .jumbotron .container{
	margin-top: 25px;
}

.modal-content iframe{
	margin-top: 10px;
	margin-bottom: 15px;
	width: 305px;
}

  .btn-lg{
		font-size: 20px;
	}
}